<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>WebChat1.0</display-name>
	<servlet>
		<description>
		</description>
		<display-name>SignInServlet</display-name>
		<servlet-name>SignInServlet</servlet-name>
		<servlet-class>com.pkg.servlet.SignInServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChatListServlet</display-name>
		<servlet-name>ChatListServlet</servlet-name>
		<servlet-class>com.pkg.servlet.ChatListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendMessageServlet</display-name>
		<servlet-name>SendMessageServlet</servlet-name>
		<servlet-class>com.pkg.servlet.SendMessageServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TitleBarServlet</display-name>
		<servlet-name>TitleBarServlet</servlet-name>
		<servlet-class>com.pkg.servlet.TitleBarServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SignUpServlet</display-name>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>com.pkg.servlet.SignUpServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BaseServlet</display-name>
		<servlet-name>BaseServlet</servlet-name>
		<servlet-class>com.pkg.servlet.BaseServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchChatServlet</display-name>
		<servlet-name>SearchChatServlet</servlet-name>
		<servlet-class>com.pkg.servlet.SearchChatServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendRequestServlet</display-name>
		<servlet-name>SendRequestServlet</servlet-name>
		<servlet-class>com.pkg.servlet.SendRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AcceptRequestServlet</display-name>
		<servlet-name>AcceptRequestServlet</servlet-name>
		<servlet-class>com.pkg.servlet.AcceptRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrepareChatServlet</display-name>
		<servlet-name>PrepareChatServlet</servlet-name>
		<servlet-class>com.pkg.servlet.PrepareChatServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChatWindowServlet</display-name>
		<servlet-name>ChatWindowServlet</servlet-name>
		<servlet-class>com.pkg.servlet.ChatWindowServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HeaderServlet</display-name>
		<servlet-name>HeaderServlet</servlet-name>
		<servlet-class>com.pkg.servlet.HeaderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.pkg.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInServlet</servlet-name>
		<url-pattern>/signIn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatListServlet</servlet-name>
		<url-pattern>/chatList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMessageServlet</servlet-name>
		<url-pattern>/sendMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TitleBarServlet</servlet-name>
		<url-pattern>/titleBar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/signUp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BaseServlet</servlet-name>
		<url-pattern>/BaseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchChatServlet</servlet-name>
		<url-pattern>/searchChat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendRequestServlet</servlet-name>
		<url-pattern>/sendRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AcceptRequestServlet</servlet-name>
		<url-pattern>/acceptRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrepareChatServlet</servlet-name>
		<url-pattern>/prepareChat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatWindowServlet</servlet-name>
		<url-pattern>/chatWindow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HeaderServlet</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
